
<footer id='footer' class='footer full-height section'>

	<div class='max-central-half centred'>

		<P> BEGINNING YOUR EXPERIENCE IS AS SIMPLE AS PICING UP THE PHONE<Br />
		 Call <a href='tel:02033261220'>020 3326 1220</a> or email <a href='mailto:sales@ampersandevents.co.uk'>sales@ampersandevents.co.uk</a> for more information</p>
		<div class='footer-svgs'>
			<img src='img/dabbous.svg' />
			<hr />
			<img src='img/ampersand.svg' />
		</div>
		
		
		
<!--
		<button class="button button--itzel button--text-thick button--text-upper button--border-thick button--size-s">
			<i class="button__icon icon icon-cart fa fa-envelope"></i>
			<span>Email</span>
		</button>

	-->

	</div>

	

</footer>