
<footer id='middle' class='footer full-height section'>

	<div class='max-central-half centred'>

		<div class='footer-svgs'>
			<img src='img/dabbous.svg' />
			<hr />
			<img src='img/ampersand.svg' />
		</div>
		
		<h3>Beati dolestio es ma est voluptatisin prat dolorendae sit vero invelibusti re periost, officient aspit laboruptat estotatur sum que molor</h3>

		<P>Neque il etur reperci llacepuda qui occab is etur molupta erecupta net inte nitatur Untium alis voloreseque nimilla boremo conse eat provit velibus dolor maior molores eosam re videbis aut et int et audi ut omnis et aut libus dus molorepedit ium quae niee cuscimi niment maxim quam faccus, con re corendem faccaepro beriostes dunt.</P>
<!--
		<button class="button button--itzel button--text-thick button--text-upper button--border-thick button--size-s">
			<i class="button__icon icon icon-cart fa fa-envelope"></i>
			<span>Email</span>
		</button>

	-->

	</div>

	

</footer>