<section id='menu-panel' class='full-height section'>

	<h2>Our <strong>signature Dabbous</strong> menu</h2>
	<P class='subheading'>Created for Ampersand by Ollie Dabbous</P>
	<hr />
	<div class='cols menu-row'>

		<div class='menu-item'>


			 @@include( markdown('copy/canapes.md'))

		</div>


		<div class='menu-item'>

			@@include( markdown('copy/starters.md'))

		</div>

		<div class='menu-item'>

			@@include( markdown('copy/mains.md'))

		</div>
	
		<div class='menu-item'>

			@@include( markdown('copy/desserts.md'))

		</div>

	</div>

	

</section>