<section id='middle' class='full-height section'>

	<div class='max-central'>
		<h2>Another Section</h2>

		@@include(markdown('copy/about.md'))


		<h2>Button Example</h2>

		<button class="button button--itzel button--text-thick button--text-upper button--border-thick button--size-s">
			<i class="button__icon icon icon-cart fa fa-envelope"></i>
			<span>Email</span>
		</button>

	</div>

	

</section>


<section class='full-height section blocks'>
	<div class='cols max-central magic-container'>

		<div class='col-50 magic'>
			Content
		</div>

		<div class='col-50 magic'>
			More COtnent
		</div>
	</div>
</section>