<section id='middle' class='full-height section'>

	
		@@include( 'quotes.html' )

		
<!--
		<button class="button button--itzel button--text-thick button--text-upper button--border-thick button--size-s">
			<i class="button__icon icon icon-cart fa fa-envelope"></i>
			<span>Email</span>
		</button>

	-->


	

</section>


<section class='section'>
	<div class='cols magic-container half-blocks'>

		<div class='left-border col-25 magic photo'>
			<div class='img-container'>
				<img src='img/ollie-dabbous-photo.jpg' />
			</div>
		</div>

		

		<div class='col-25 magic content'>
			<div class='valign'>
			 @@include( markdown('copy/middle1.md'))
			</div>
		</div>
	</div>

	<div class='cols magic-container'>

		<div class='col-30 magic photo'>
			<div class='img-container'>
				<img src='img/tiny-egg.jpg' />
			</div>
		</div>

		<div class='col-30 magic content'>
			<div class='valign'>
				@@include( markdown('copy/middle2.md'))
			</div>
		</div>

		

		<div class='col-40 magic photo'>
			<div class='img-container'>
				<img src='img/orange-drink.jpg' />
			</div>
		</div>

	
	</div>


		<div class='cols magic-container  half-blocks'>

		<div class='left-border col-25 magic photo'>
			<div class='img-container'>
				<img src='img/restaurant.jpg' />
			</div>
		</div>


		<div class='col-25 magic content'>
			<div class='valign'>
				@@include( markdown('copy/middle3.md'))
			</div>
		</div>
	</div>
</section>