
html {
	box-sizing: border-box;

	* {
		box-sizing: inherit;

		&:after, &:before {
			box-sizing: inherit;
		}
	}
}
body {
	
	
}


.full-height {
	min-height: 800px;
	min-height: 90vh; // not quite fold full
}


.section {
	width: 100%;
	margin: 0;
}


h1,h2,h3,h4,h5,h6 {
	&:first-of-type {
		margin-top: 0;
	}
}


.blocks {
	min-height: 400px;
	background: lighten(black, 80%);
}

.magic-container {
	padding-top: 2em;
	perspective: 1500px;
	transform: rotate(20deg);
	.magic:first-of-type {
		
		transform: translateZ(0) rotateY(-45deg);
		transform-origin: 100% 50%;
		
		background: lighten(black, 50%);
	}

	.magic {
		min-height: 300px;
		padding: 2em;
		color: white;
		background: lighten(black, 60%);

		transform: translateZ(0) rotateY(45deg);
		transform-origin: 0 50%;
	}
}