
html {
	box-sizing: border-box;

	* {
		box-sizing: inherit;

		&:after, &:before {
			box-sizing: inherit;
		}
	}
}
body {
	
	background-color: #fefefe;
	background-color: #121212;
	background: url(../img/light-slate-background.jpg);
	background-size: auto;
	
	background-repeat: repeat;
	background-position: top center;
	
	font-family: 'Raleway', sans-serif;
	
}


.full-height {
	min-height: 200px;
	min-height: 20vh; // not quite fold full
	padding: 4em 0;
}


.section {
	width: 100%;
	margin: 0;
}


h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
	&:first-of-type {
		margin-top: 0;
	}
}

.centred {
	text-align: center;
}


.blocks {
	min-height: 400px;
	background: lighten(black, 80%);
}

.magic-container {
	padding-top: 2em;
	perspective: 1500px;
	transition: transform .3s ease;
	
	.magic {
		transition: transform .3s ease;
		min-height: 300px;
		padding: 2em;
		color: white;
		background: lighten(black, 60%);
		transform-origin: 0 50%;
	}

	.magic:first-of-type {
		background: lighten(black, 50%);
		transform-origin: 100% 50%;
	}

	

	
}