
@mast-height: 200px;
#first-page {
	background-color: #121212;
	background: url(../img/header-background.jpg);
	background-size: auto 100%;
	height: auto;

	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% auto;
	background-attachment: fixed;

	padding: 0;

	position: absolute;
	top: 0;

	height: @mast-height;
	z-index: 10;

	-webkit-backface-visibility: hidden;


	&:after {
		display: block;
		position: absolute;
		content: "";
		border-bottom: 1px solid fade(white, 40%);
		width: 100%;
		left: 0;
		bottom: 5px;
	}


	#masthead {

		width: 40%;
		max-width: 400px;

		will-change: transform;
		transform:scale(1,1) translateY(-50%);
		transition: transform, .5s ease;

		height: @mast-height * 0.9;

		position: absolute;
		top: 50%;
		transform-origin: center top;

		left: 0;
		right: 0;
		margin: auto;

		img {
			width: 100%;
			height: 46%;
			
		}
		hr {
			border-bottom: 1px solid fade(white, 40%);
			
			width: 60%;
			margin: 4% auto;
		}

		#amp-partner {
			
			display: block;
			width: 100%;
			height: auto;

			svg {
				width: 80%;
				height: 100%;
			}

		
		}

		@media screen and (max-width: 600px) {
			max-width: 80%;
			width: 80%;
		}


	}

	&.above-fold {

		position: fixed;
		height: @mast-height * 0.5;

		transform:translateY(-100%);

		#masthead {
			transform: scale(0.5,0.5) translateY(-50%);
		}
	}

	&.after-fold {
		transition:transform 1s ease;
		transform:translateY(0%);
	}
}


#middle {
	position: relative;
	margin-top:  @mast-height;
}



.footer {
	font-size: 0.8em;
}

.footer-svgs {
	width: 30%;
	display: block;
	position: relative;
	margin: auto;
	max-width: 200px;

	margin-bottom: 2em;

	img {
		width: 100%;
		height: auto;
	}
	hr {
		border-bottom: 1px solid fade(black, 40%);
	}

	#amp-partner {
		
		display: block;
		width: 100%;
		height: auto;

		svg {
			width: 80%;
			height: 100%;
		}

	
	}
}



/// menus

#menu-panel {
	background: fade(#222, 50%);
	color: #111;
	padding: 3em;

	.cols {
		max-width: 1200px;
		width: 100%;
		margin: auto;
		position: relative;

		&.menu-row {
			margin-top: 80px;

			
		}
	}

	h2 {
		text-align: center;
		margin-bottom: 0.2em;

	}

	.subheading {
		text-align: center;
		margin-top: 0;
	}

	hr {
		  width: 80%;
		  margin: auto;
		  border: none;
		  border-bottom: 1px solid #111;
		  max-width: 1200px * .8;
	}
}






.cols .menu-item {
	width: 25%; // this is to replace the flex stuff.

	@media screen and (max-width: 800px) {
		width: 50%;
		margin-bottom: 80px;
	}

	@media screen and (max-width: 480px) {
		width: 100%;
	}
}

.menu-row {

}


.menu-item {

	@border: 1px solid fade(black, 50%);
	position: relative;

	min-height: 200px;

	@offset : 10px;
	
	&:before {
		content: "";

			

		border-top: none;
		border-right: @border;
		border-bottom: @border;
		border-left: @border;
		position: absolute;
		top: @offset;
		right: @offset;
		left: @offset;
		bottom: @offset;
	}



	&:after {
		content: "";
		position: absolute;
		top: -40px;
		bottom: -30px;
		left: -5%;
		right: -2%;	
		opacity: 0.15;
		background-image: url(../img/smudge.svg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	&:nth-of-type(even) {

		
		&:after {
			transform:rotate(180deg);
		}
	}

	h2 {

		text-align: center;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			left: @offset;
			right: 75%;
			top: @offset;
			
			border: none;
			border-bottom: @border;
		}

		&:after {
			content: "";
			position: absolute;
			right: @offset;
			left: 75%;
			top: @offset;
			
			border: none;
			border-bottom: @border;
		}

	}

	ul {
		list-style-type: none;
		padding: 0;
		padding: @offset * 3;

		li {
			padding: 0;
			text-align: center;
			line-height: 1;
			margin-bottom: 1.4em;
		}
	}
}