
@mast-height: 200px;
#first-page {
	background-color: #121212;
	background: url(../img/header-background.jpg);
	background-size: auto 100%;
	height: auto;

	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% auto;
	

	padding: 0;

	position: absolute;
	top: 0;

	height: @mast-height;
	z-index: 10;

	-webkit-backface-visibility: hidden;


	border-bottom: @global-border;


	#masthead {

		width: 40%;
		max-width: 400px;

		will-change: transform;
		transform:scale(1,1) translateY(-50%);
		transition: transform, .5s ease;

		height: 20vh;

		position: absolute;
		top: 50%;
		transform-origin: center top;

		left: 0;
		right: 0;
		margin: auto;

		img {
			width: 100%;
			height: 46%;
			
		}
		hr {
			border-bottom: 1px solid fade(white, 40%);
			
			width: 60%;
			margin: 4% auto;
		}

		#amp-partner {
			
			display: block;
			width: 100%;
			height: auto;

			svg {
				width: 80%;
				height: 100%;
			}

		
		}

		@media screen and (max-width: 600px) {
			max-width: 80%;
			width: 80%;
		}


	}

	&.above-fold {

		position: fixed;
		height: @mast-height * 0.5;

		transform:translateY(-100%);

		#masthead {
			transform: scale(0.5,0.5) translateY(-50%);
		}
	}

	&.after-fold {
		transition:transform 1s ease;
		transform:translateY(0%);
	}
}


#middle {
	position: relative;
	margin-top:  30vh;

	border-bottom: @global-border;
}






#middle {
	height: 18vh;
	padding: 0;
	position:relative;
	.max-central {
		position:absolute;
		top: 10%;
		width: 100%;
		bottom: 10%;
		left: 0;
		right: 0;
	}

}




.quotes {
	


}
.quotes ul {
	position: relative;
	
	list-style-type: none;
	width: 100%;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	bottom: 0;

	li {
		opacity: 0;
		padding: 0;
		position: absolute;
		
		perspective:500px;
		transform:rotateX(0);
		margin: auto;
		text-align: center;
		width: 100%;
		left: 0;
		right: 0;
		top: 25%;


		&:first-of-type {
			opacity: 1;
		}

		h4 {
			border-bottom: 1px solid #000;
			display: inline-block;
			font-size: 0.5;
			font-weight: normal;
			margin: 0;
		}

		h3 {
			margin: .2em 0 0 0;
			font-family: 'Raleway', sans-serif;
			font-weight: bold;


		}



	}
}

#training .magic { 
	min-height: 392px; // specifically because of the photo;
}



.ollie-quote {
	background: url('../img/dark-slate.jpg');
	padding: 3em 0;
	font-size: 1.4em;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;

	h4 {
		  text-align: center;
		  position: relative;
		  max-width: 900px;
		  margin: auto;
		  width: auto;
		  display: inline-block;
		  font-size: 1.4em;
		  margin-bottom: 0.5em;
		  line-height: 1.4em;
		  padding: 0 2em;
		  text-shadow: 0px -1px 1px fade(white, 20%);
		&:after {
			  content: "";
			  position: absolute;
			  left: -20%;
			  right: -20%;
			  bottom: 0;
			  border-bottom: 1px solid #242424;
		}
	}

	p {
		text-align: center;
		position: relative;
		max-width: 900px;
		margin: auto;
		padding: 0 2em;

		text-shadow: 0px -1px 1px fade(white, 20%);
	}
}

.magic-container .content.training-text {
	
	width: 30%;
	display: flex;

	

	&.magic {
		margin: 0;
	}

	@media screen and (max-width: 830px) {
		width:50%;
	}
	@media screen and (max-width: 600px) {
		width: 100% !important;
		min-width: 0;
		
	}
}

.ollie-portrait {
	width: auto;
	min-width: 322px;

	img {
		height:100%; 
		width:auto;
	}
	@media screen and (max-width: 830px) {
		width: 30%;
		min-width: 0;
	}

	@media screen and (max-width: 600px) {
		width: 100%;
		min-width: 0;


		img {
			width: 100% !important;
			height: auto !important;
		}

		border-bottom: @global-border;
		
	}
}